# EDA

## 1. Importar librerias

In [1]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt
import seaborn as sns

## 2. Cargar Datos

In [14]:
df_Yelp = pd.read_csv('DataSets/Nail_Salon_Yelp.csv')

## 3. Exploramos los datos del DataFrame: 'YELP'

In [15]:
df_Yelp.head(5)

,business_id,city,postal_code,latitude,longitude,stars,review_count,source,user_id,review_stars,text,date
0,9Rww8yE6Dm4dSMEq09nwXg,Pinellas Park,33782,27.855347,-82.736308,4.5,16,Y,MR_0VqlmaHRBskfq_u9UaA,5.0,i had the pleasure of stopping by holly nails ...,2019-03-21 16:54:10
1,9Rww8yE6Dm4dSMEq09nwXg,Pinellas Park,33782,27.855347,-82.736308,4.5,16,Y,zWwyESvgTPMcqU3Ef87HZQ,5.0,the shop was clean and the staff is friendly a...,2019-05-29 21:41:25
2,9Rww8yE6Dm4dSMEq09nwXg,Pinellas Park,33782,27.855347,-82.736308,4.5,16,Y,s9CqpmJOntfRvkWDV2VBnQ,5.0,"i love this place. i live in tampa, but i defi...",2020-01-19 12:55:09
3,9Rww8yE6Dm4dSMEq09nwXg,Pinellas Park,33782,27.855347,-82.736308,4.5,16,Y,PRhvO0JRk2IniXbHvDOvyw,5.0,i was looking for a new nail salon for pedicur...,2019-04-10 18:02:05
4,9Rww8yE6Dm4dSMEq09nwXg,Pinellas Park,33782,27.855347,-82.736308,4.5,16,Y,GipAMLohZ7GLdV-8xuO_YA,5.0,"i couldn't ask for a better experience , excel...",2021-04-19 15:21:10

Ejecutamos la funcion 'head' para poder visualizar de forma ligera la tabla

In [16]:
df_Yelp.shape

(10868, 12)

Nos indica que la tabla Yelp cuenta con 51894 filas y 15 columnas

In [17]:
df_Yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10868 entries, 0 to 10867
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   10868 non-null  object
 1   city          10868 non-null  object
 2   postal_code   10868 non-null  int64
 3   latitude      10868 non-null  float64
 4   longitude     10868 non-null  float64
 5   stars         10868 non-null  float64
 6   review_count  10868 non-null  int64
 7   source        10868 non-null  object
 8   user_id       10868 non-null  object
 9   review_stars  10868 non-null  float64
 10  text          10868 non-null  object
 11  date          10868 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 1019.0+ KB

Como observamos se mantienen el tipo de dato que tenia al ser guardado

In [10]:
# Obtener el conteo de nulos por columna
null_count = df_Yelp.isnull().sum()

# Obtener el porcentaje de nulos por columna
null_percentage = (df_Yelp.isnull().mean()) * 100

# Formatear los valores
null_info = pd.DataFrame({
    'Nulos': null_count.abs(),  # Tomar solo la parte positiva
    'Porcentaje': null_percentage.round(3)  # Redondear a tres decimales
})

# Agregar una fila adicional para el total
total_nulos = null_info['Nulos'].sum()
total_porcentaje = (total_nulos / (len(df_Yelp) * len(df_Yelp.columns))) * 100

# Formatear el total de nulos y porcentaje
total_nulos_formateado = int(total_nulos)  # Tomar solo la parte entera
total_porcentaje_formateado = round(total_porcentaje, 3)  # Redondear a tres decimales

# Agregar la fila al DataFrame
null_info.loc['Total'] = [total_nulos_formateado, total_porcentaje_formateado]

# Imprimir el nuevo DataFrame
print(null_info)

              Nulos  Porcentaje
business_id     0.0         0.0
city            0.0         0.0
state           0.0         0.0
postal_code     0.0         0.0
latitude        0.0         0.0
longitude       0.0         0.0
stars           0.0         0.0
review_count    0.0         0.0
source          0.0         0.0
user_id         0.0         0.0
review_stars    0.0         0.0
text            0.0         0.0
year            0.0         0.0
month           0.0         0.0
day             0.0         0.0
Total           0.0         0.0

Como observamos no tenemos valores nulos

In [11]:
# Agrupar el DataFrame por la columna 'state' y contar la cantidad de comentarios en cada estado
comentarios_por_estado = df_Yelp.groupby('state')['text'].count().reset_index()

# Ordenar los resultados en orden descendente por la cantidad de comentarios
comentarios_por_estado = comentarios_por_estado.sort_values(by='text', ascending=False)

# Mostrar los resultados
print(comentarios_por_estado)

           state   text
4        Florida  10868
12  Pennsylvania  10139
13     Tennessee   4527
7        Indiana   4309
10        Nevada   4248
1        Arizona   4046
8      Louisiana   3093
9       Missouri   2947
11    New Jersey   2662
2     California   1936
5          Idaho   1586
3       Delaware    706
6       Illinois    470
0        Alberta    357

In [13]:
# Agrupar el DataFrame por la columna 'state' y sumar la cantidad total de comentarios en cada estado
comentarios_por_estado = df_Yelp.groupby('state')['review_count'].sum().reset_index()

# Ordenar los resultados en orden descendente por la cantidad de comentarios
comentarios_por_estado = comentarios_por_estado.sort_values(by='review_count', ascending=False)

# Mostrar los resultados
print(comentarios_por_estado)

           state  review_count
4        Florida        825803
12  Pennsylvania        701913
10        Nevada        631669
13     Tennessee        360663
1        Arizona        358124
2     California        303377
7        Indiana        301313
8      Louisiana        275533
9       Missouri        210923
11    New Jersey         99928
5          Idaho         87705
3       Delaware         24482
6       Illinois         18181
0        Alberta          5661

In [ ]:
df_Yelp.head()