In [2]:
import pandas as pd
import numpy as np

In [3]:
Business = pd.read_csv('DataSets/Cleaned_Business_Y.csv')
Tips = pd.read_csv('DataSets/Cleaned_Tips_Y.csv')
User = pd.read_csv('DataSets/Cleaned_User_Y.csv')
Atributes = pd.read_csv('DataSets/ServiciosAdicionales.csv')

# 3. Exploracion y Limpieza de Datos

## 3.3 Dataset User

### 3.3.1. Exploración inicial de los datos

In [4]:
User.head(3)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,j4cmflYbwAktOxZ_iiJCOQ,Danielle,236,2009-08-09 13:37:21,1276,717,1040,"2013,2014,2015,2016,2017","gXOWzDeXqGByrCPdNwdc_A, PHKZrobSgXBjvuBJrcn4hQ...",44,...,17,1,1,0,49,77,182,182,113,3
1,xnt4VgRYCyt1YI522IrpcA,Allison,5,2011-09-23 23:11:31,3,0,0,NaN,"Vaygf_tm2au-z8rwDd7eUg, NgMzAyRiycmyyirerepXXA...",0,...,0,0,0,0,0,0,0,0,0,0
2,pou3BbKsIozfH50rxmnMew,Brett,2812,2012-01-11 17:19:55,22586,8950,14927,"2012,2013,2014,2015,2016,2017,2018,2019,20,20,...","hrSrJhoouR6RgkaKHFKJjw, jt49xjEjQisu6wTTGn6B3A...",914,...,96,44,12,28,1131,3667,1265,1265,529,398
3,xUtEz47jIl-v34swwmjTZw,Tara,28,2010-06-12 21:17:34,13,1,2,NaN,"d6rhc9xb-KENLU1zqQcQXQ, IdQefJPFgBLgyjSdhD_ZbQ...",2,...,0,0,0,0,0,1,0,0,0,0
4,3ywXGq4PyUoR_XXDvK_RIA,Toni,729,2006-06-13 03:44:01,1875,689,1268,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","rfNeBpgksHoIqsGAZdASAw, t514OybEW0bk7k4G8BuPpw...",77,...,19,5,4,1,45,69,100,100,45,23

In [5]:
User.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12652 entries, 0 to 12651
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             12652 non-null  object
 1   name                12651 non-null  object
 2   review_count        12652 non-null  int64
 3   yelping_since       12652 non-null  object
 4   useful              12652 non-null  int64
 5   funny               12652 non-null  int64
 6   cool                12652 non-null  int64
 7   elite               865 non-null    object
 8   friends             7450 non-null   object
 9   fans                12652 non-null  int64
 10  average_stars       12652 non-null  float64
 11  compliment_hot      12652 non-null  int64
 12  compliment_more     12652 non-null  int64
 13  compliment_profile  12652 non-null  int64
 14  compliment_cute     12652 non-null  int64
 15  compliment_list     12652 non-null  int64
 16  compliment_note     12652 non-null  int64
 17  compliment_plain    12652 non-null  int64
 18  compliment_cool     12652 non-null  int64
 19  compliment_funny    12652 non-null  int64
 20  compliment_writer   12652 non-null  int64
 21  compliment_photos   12652 non-null  int64
dtypes: float64(1), int64(16), object(5)
memory usage: 2.1+ MB

In [6]:
# Contar filas vacías por columna
filas_vacias_por_columna = User.isnull().sum()
print(filas_vacias_por_columna)

user_id                   0
name                      1
review_count              0
yelping_since             0
useful                    0
funny                     0
cool                      0
elite                 11787
friends                5202
fans                      0
average_stars             0
compliment_hot            0
compliment_more           0
compliment_profile        0
compliment_cute           0
compliment_list           0
compliment_note           0
compliment_plain          0
compliment_cool           0
compliment_funny          0
compliment_writer         0
compliment_photos         0
dtype: int64

Como logramos Oberservar las columnas 'elite' y 'friends' tienen muchos valores vacios

In [7]:
# Contar la cantidad de duplicados del DataFrame
filas_duplicadas = User.duplicated().sum()
print("Filas duplicadas en el DataFrame:", filas_duplicadas)

Filas duplicadas en el DataFrame: 0

La tabla no cuenta con valores duplicados

### 3.3.2. Limpieza y Normalización de datos

In [ ]:
# Obtener los id únicos del DataFrame dfbusinessYelp
business_ids_to_keep = Review['user_id'].unique()


# Friltamos el dfreviewYelp basado en los balores unico de lao id de dfbusinessYelp
dfReviewYelp = User[User['user_id'].isin(business_ids_to_keep)]

# El conjunto de datos se filtró por la fecha desde el inicio del 2016 hasta finalizar el 2021.
#dfreviewYelp = dfreviewYelp[(dfreviewYelp['date'] >= '2016-01-01') & (dfreviewYelp['date'] >= '2021-12-31')]

Aplicamos un filtro solo para quedarnos con los valores que coincidan con el id del negocio

In [ ]:
#Creo la tabla Compliment
Compliment = ['user_id', 'compliment_hot','compliment_more', 'compliment_profile',
         'compliment_cute', 'compliment_list', 'compliment_note', 
         'compliment_plain', 'compliment_cool', 'compliment_funny', 
         'compliment_writer', 'compliment_photos']

Creo la nueva tabla Compliment

In [ ]:
#Columnas a eliminar de la tabla User
columnas_a_eliminar = ['elite', 'friends', 'compliment_hot','compliment_more', 'compliment_profile',
         'compliment_cute', 'compliment_list', 'compliment_note', 
         'compliment_plain', 'compliment_cool', 'compliment_funny', 
         'compliment_writer', 'compliment_photos']

# Eliminar las columnas especificadas
User = User.drop(columnas_a_eliminar, axis=1)

Borramos columnas que tienen datos nulos y otras columnas que copiamos para normalizar y dar mejor performance a la tabla

## 3.4 Dataset Attributes Business

### 3.4.1. Exploración inicial de los datos

In [10]:
Atributes.head()

              business_id                                         attributes
0  9Rww8yE6Dm4dSMEq09nwXg  {'BusinessAcceptsCreditCards': 'True', 'BikePa...
1  my0bmPD5dgDFE1ia__LNlw  {'ByAppointmentOnly': 'False', 'BusinessAccept...
2  CLEWowfkj-wKYJlQDqT1aw  {'BusinessParking': "{'garage': False, 'street...
3  gbetDRjllP5cOxaWxFjGHA                                                NaN
4  FYzZd2mlMIPScy95UY2xkw  {'BikeParking': 'True', 'BusinessAcceptsCredit...

In [11]:
Atributes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 877 entries, 0 to 876
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  877 non-null    object
 1   attributes   839 non-null    object
dtypes: object(2)
memory usage: 13.8+ KB

In [13]:
# Contar filas vacías por columna
filas_vacias_por_columna = Atributes.isnull().sum()
print(filas_vacias_por_columna)

business_id     0
attributes     38
dtype: int64

In [14]:
# Contar la cantidad de duplicados del DataFrame
filas_duplicadas = Atributes.duplicated().sum()
print("Filas duplicadas en el DataFrame:", filas_duplicadas)

Filas duplicadas en el DataFrame: 0

### 3.4.2. Limpieza y Normalización de datos

#### Normalizacion de datos

In [ ]:
# Convertir la columna 'attributes' en un DataFrame separado
Atributes = Atributes['attributes'].apply(eval).apply(pd.Series)

# Agregar la columna 'business_id' de nuevo al DataFrame de atributos
Atributes['business_id'] = Atributes['business_id']

# Reorganizar las columnas para colocar 'business_id' al principio
Atributes = Atributes[['business_id'] + list(Atributes.columns[:-1])]

# Mostrar el DataFrame resultante
print(Atributes)

La columna attributes tienes valores en forma de diccionarios y lo desanido aplicando la funcion apply(eval)

In [ ]:
columnas_a_eliminar = ['AcceptsInsurance','RestaurantsDelivery', 'GoodForMeal', 'RestaurantsAttire', 
                       'RestaurantsTableService', 'DogsAllowed', 'RestaurantsGoodForGroups', 'Music', 
                       'OutdoorSeating', 'HasTV', 'RestaurantsReservations', 'Alcohol', 'Ambience', 'HappyHour',
                       'GoodForDancing', 'Smoking', 'NoiseLevel', 'AcceptsInsurance', 'HairSpecializesIn', 
                       'RestaurantsTakeOut']
# Eliminar las columnas especificadas
Atributes = Atributes.drop(columnas_a_eliminar, axis=1)

Eliminamos Columnas que tienen valores Nulos y Vacios

In [ ]:
# Remplazar los valores nan con un diccionario vacío
Atributes['BusinessParking'].fillna('{}', inplace=True)

# Convertir la columna 'BusinessParking' a un diccionario
Atributes['BusinessParking'] = Atributes['BusinessParking'].apply(literal_eval)

# Desanidar el diccionario
CarParking = pd.json_normalize(Atributes['BusinessParking'])

Desanido la columna BusinessParking

In [ ]:
# Verificar si al menos una de las columnas tiene True en cada fila
CarParking['Parking'] = CarParking[['garage', 'street', 'validated', 'lot', 'valet']].any(axis=1)

# Reemplazar los valores True y False con 'Yes' y 'No' en la columna 'Parking'
CarParking['Parking'] = CarParking['Parking'].replace({True: 1, False: 0})

Borro y reemplazo valores

In [ ]:
# Combinar la tabla parking con la tabla Attributes
Attributes = Atributes.merge(CarParking, left_index=True, right_index=True)

Uno con la tabla Atributes

In [ ]:
# Eliminar la columna 'BusinessParking' de la tabla Attributes
Attributes = Attributes.drop('BusinessParking', axis=1)

In [ ]:
def normalize_wifi(value):
    if value in ["u'free'", "'free'"]:
        return True
    else:
        return False

# Aplicar la función a la columna 'WiFi'
Attributes['WiFi'] = Attributes['WiFi'].apply(normalize_wifi)

In [ ]:
# Crear un diccionario de mapeo
mapping = {2.0: True, 1.0: True, 3.0: True, 4.0: True}

# Mapear los valores y convertir a booleanos
Attributes['RestaurantsPriceRange2'] = Attributes['RestaurantsPriceRange2'].map(mapping).astype(bool)

In [ ]:
# Eliminar las columnas 'GoodForKids' y 'BusinessAcceptsBitcoin' del DataFrame
Attributes = Attributes.drop(['GoodForKids', 'BusinessAcceptsBitcoin'], axis=1)

In [ ]:
# Reemplazar NaN por False en el DataFrame Attributes
Attributes = Attributes.fillna(0)

In [ ]:
# Reemplazar True por 1 y False por 0 en el DataFrame Attributes
Attributes = Attributes.replace({True: 1, False: 0})

In [ ]:
# Renombrar la columna 'RestaurantsPriceRange2' a 'Food'
Attributes = Attributes.rename(columns={'RestaurantsPriceRange2': 'Food'})

In [ ]:
# Identificar las columnas que deseas combinar en una sola
columns_to_combine = ['BusinessAcceptsCreditCards', 'BikeParking', 'WheelchairAccessible', 'ByAppointmentOnly', 'WiFi', 'Food', 'CarParking']

# Usar melt para combinar las columnas en una sola
Attributes = Attributes.melt(id_vars=['business_id'], value_vars=columns_to_combine, var_name='attributes', value_name='value')

# Filtrar solo los valores True y False
Attributes['value'] = Attributes['value'].replace({True: 1, False: 0})

In [ ]:
# Inicializar un contador
counter = 1

# Crear una lista vacía para almacenar los datos formateados
formatted_data = []

# Iterar sobre cada fila del DataFrame original
for index, row in Attributes.iterrows():
    business_id = row['business_id']
    attribute = row['Attributes']
    value = row['Values']
    
    # Agregar la combinación de 'business_id', 'attribute', 'value' y 'attributes_id' a la lista
    formatted_data.append({'business_id': business_id, 'Attributes': attribute, 'Values': value, 'attributes_id': 'a-' + str(counter)})
    
    # Incrementar el contador
    counter += 1

# Crear un nuevo DataFrame a partir de la lista de datos formateados
Atributes = pd.DataFrame(formatted_data)

## 3.5 Dataset Business Yelp

### 3.5.1. Transformacion de Datos

In [21]:
from ast import literal_eval

# Crear una lista vacía para almacenar las filas de la nueva tabla
opening_hours = []

# Iterar sobre cada fila en la tabla 'Business'
for idx, row in Business.iterrows():
    # Extraer los horarios de operación
    hours_str = row['hours']
    try:
        # Convertir la cadena de texto a un diccionario
        hours = literal_eval(hours_str)
        # Iterar sobre cada día de la semana en los horarios de operación
        for day, time in hours.items():
            # Dividir el horario en 'hora de apertura' y 'hora de cierre'
            opening_time, closing_time = time.split('-')
            # Agregar una nueva fila a la lista
            opening_hours.append([row['business_id'], day, opening_time, closing_time])
    except (ValueError, SyntaxError):
        # Manejar el caso en el que la cadena no sea un diccionario válido
        pass

# Convertir la lista en una tabla de pandas
opening_hours = pd.DataFrame(opening_hours, columns=['business_id', 'day_of_week', 'opening_time', 'closing_time'])

### 3.5.2 Exploracion de datos

In [22]:
opening_hours.head()

              business_id day_of_week opening_time closing_time
0  9Rww8yE6Dm4dSMEq09nwXg     Tuesday         9:30         19:0
1  9Rww8yE6Dm4dSMEq09nwXg   Wednesday         9:30         19:0
2  9Rww8yE6Dm4dSMEq09nwXg    Thursday         9:30         19:0
3  9Rww8yE6Dm4dSMEq09nwXg      Friday         9:30         19:0
4  9Rww8yE6Dm4dSMEq09nwXg    Saturday         9:30         19:0

In [23]:
opening_hours.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4837 entries, 0 to 4836
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   4837 non-null   object
 1   day_of_week   4837 non-null   object
 2   opening_time  4837 non-null   object
 3   closing_time  4837 non-null   object
dtypes: object(4)
memory usage: 151.3+ KB

In [24]:
# Crear un contador para generar los IDs de las horas de apertura
counter = 1

# Función para generar el ID de las horas de apertura
def generate_opening_hours_id():
    global counter
    opening_hours_id = f"op-{counter:03d}"
    counter += 1
    return opening_hours_id

# Aplicar la función para crear la columna opening_hours_id
opening_hours['opening_hours_id'] = opening_hours.apply(lambda x: generate_opening_hours_id(), axis=1)

# Mostrar el DataFrame resultante
print(opening_hours.head())

              business_id day_of_week opening_time closing_time  \
0  9Rww8yE6Dm4dSMEq09nwXg     Tuesday         9:30         19:0
1  9Rww8yE6Dm4dSMEq09nwXg   Wednesday         9:30         19:0
2  9Rww8yE6Dm4dSMEq09nwXg    Thursday         9:30         19:0
3  9Rww8yE6Dm4dSMEq09nwXg      Friday         9:30         19:0
4  9Rww8yE6Dm4dSMEq09nwXg    Saturday         9:30         19:0

  opening_hours_id
0           op-001
1           op-002
2           op-003
3           op-004
4           op-005

Creo el indice de la tabla Open Hours

In [26]:
opening_hours = opening_hours[['opening_hours_id', 'business_id', 'day_of_week', 'opening_time', 'closing_time']]

Ordeno las columnas de la tabla hours

# 4. Carga de Datos

In [ ]:

User.to_csv('Datos/Users.csv', index= False)
attribute.to_csv('Datos/Attributes.csv', index= False)
opening_hours.to_csv('Datos/Opening_Hours.csv', index= False)